.header {
  background: #c7deff;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
}

.headerMenu {
  display: flex;
  gap: 20px;
  align-items: center;
}

.logoutBtn {
  padding: 12px;
  background: #dc3545;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.logoutBtn:hover {
  opacity: 0.8;
}